/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-odd-bg);
}

img{
    width: 100%;
    display: block;
}
/* colors */
:root {
	--color-header: #0084fd;
	--color-odd-bg: #ffffff;
	--color-even-bg: #9792e4;
	--color-contrast: #b5ddff;
	--color-footer-bg: #333333;
	--color-color-h1: #fdc15f;
    --color-box-text: #586c7d;
}

/* flex utility */
.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

/* utility */

.margin-auto{
    margin: auto;
}

.padding-20{
    padding: 20px;
}

.margin-bottom-30{
    margin-bottom: 30px;
}

.container{
    max-width: 728px;
    margin: 0 auto;
    padding: 20px;
}

.padding-top-50{
    padding-top: 50px;
}

.circle{
    border-radius: 50%;
    overflow: hidden;
}

.small-rounded{
    border-radius: 20px;
}

.big-rounded{
    border-radius: 40px;
}

.text-center{
    text-align: center;
}
/* text color */

.text-blue{
    color: var(--color-header);
}

.text-gray{
    color: var(--color-box-text);
}

.text-white{
    color: var(--color-odd-bg);
}

.text-purple{
    color: var(--color-even-bg);
}

/* bg-color */
.even{
    background-color: var(--color-even-bg);
}

.odd{
    background-color: var(--color-odd-bg);
}

.bg-light{
    background-color: var(--color-contrast);
}
/* header */
header{
    background-color: var(--color-header);
    color: var(--color-odd-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background-color: var(--color-header);
    display: none;
}
header nav:hover ul{
    display: block;
}
header nav{
    position: relative;
}
header nav a{
    display: block;
    padding: 5px 10px;
}
/* navbar */
nav{
    background-color: var(--color-header);
}

/* main */
main{
    padding-top: 70px;
}
section{
    scroll-margin-top: 75px;
}


/* features section */
.card{
    padding: 20px;
    margin-bottom: 20px;
}

p{
    line-height: 1.8;
}

h3{
    margin: 20px 0;
}

.fa-solid{
    font-size: 3em;
}

.img-content{
    width: 80%;
    margin: 0 auto;
}

#features .container>.card{
    padding-bottom: 0;
}

.features-p{
    margin-bottom: 40px;
}

.btn{
    background-color: var(--color-header);
    padding: 10px 42px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
}

/* planning section */
.section-title{
    padding-top: 30px;
    font-weight: 700;
    font-size: 30px;
}

.white-card{
    background-color: var(--color-odd-bg);
    width: 50%;
    margin: auto;
}

.planning-arrow{
    font-size: 2.4em;
    background-color: var(--color-even-bg);
    padding: 3px 7px;
}

/* testimonial section */

.testimonial-p{
    font-weight: 500;
}

.purple-card{
    background-color: var(--color-even-bg);
    width: 50%;
}

.testimonial-photo{
    width: 40%;
    aspect-ratio: 1 / 1;
}

.testimonial-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testiomonial-p{
    font-size: 24px;
}
.testimonial-i{
    font-size: 25px
}

/* benefits section */
.benefits-card{
    padding: 18px 18px;
    margin-bottom: 30px;
}
.btn-benefits{
    background-color: var(--color-even-bg);
    color: var(--color-odd-bg);
    padding: 6px 12px;
}

.h2-benefits{
    font-size: 35px;
}
.h3-benefits{
    font-size: 25px;
}

/* about-us section */
.about-us-h2{
    color: var(--color-even-bg);
    font-size: 30px;
}
.about-us-p{
    margin-top: 30px;
}

.linkedin-btn{
    padding: 6px 12px;
    color: var(--color-odd-bg);
    background-color: var(--color-even-bg);
    border-radius: 12px;
}

.about-us-h4{
    font-size: 30px;
    color: var(--color-even-bg);
    margin-top: 40px;
    margin-bottom: 40px;
}

/* footer */
footer{
    background-color: var(--color-footer-bg);
    color: var(--color-odd-bg);
}

/* media query */

/* tablet */
@media screen and (min-width: 768px){

}
/* desktop */
@media screen and (min-width: 992px) {
    .container{
        max-width: 1200px;
    }

    header nav:hover ul{
        display: flex;
    }

    header nav ul{
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    i.fa-solid.fa-bars{
        display: none;
    }

    #features .container>.card{
        display: flex;
    }

    .text-content{
        width: 60%;
    }

    .img-content{
        width: 40%;
    }
    .img-content img{
        width: 60%;
    }
}